[submodule "themes/mainroad"]
	path = themes/mainroad
	url = git@github.com:Vimux/Mainroad.git
[submodule "themes/roadster"]
	path = themes/roadster
	url = https://github.com/mansoorbarri/roadster.git
